@import '../../styles/settings.scss';

.listForm {
    margin: 20px auto;
    text-align: center;
    padding: 10px;

    span {
        margin: 10px;
    }
    @media (max-width: 768px) {
        .listForm {
            display: flex;
            flex-direction: column;
        }

    }
}