@use 'sass:math';
@import '../../styles/settings.scss';
		

.column {
  width: 50%;
  background: $color-light;
  margin: 0 auto;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  color: $color-dark;
  display: flex;
  justify-content: space-between;


  &:last-child {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}


.cards {
  padding: math.div($base-size, 3) 0;
  width: 100%;
}
.header {
    
    background-image: url(../Images/Favorite.jpg);
    //background-image: url('http://uploads.kodilla.com/bootcamp/fer/11.react/space.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: ($base-size * 20);
    margin: 0 0 ($base-size * 4) 0;
    overflow: hidden;
    border-radius: $radius;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: ($base-size * 2.5);
    text-transform: uppercase;
    color: $color-light;

    span {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        top: -$base-size;
    }
}

