@import '../../styles/settings.scss';


.nav {
    background-color: darken($color-dark, 3%);
    
  
}
.icon {
    font-size: $base-size * 2;
    //padding-left: $base-size * 10;
    //padding-right: $base-size * 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: 0 ($base-size * 10);
    a {
        color: $color-light;
    }
}


.links {
    
    list-style-type: none;
    display: inline-flex;
    //text-decoration: none;
    //color: $color-light;
    
    li {
        padding: $base-size;
        text-decoration: none;
        a {
            text-decoration: none;
        }
        a.linkActive {
            color: $color-warning;
          }
    }
}

